* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cont {
  max-width: 1450px;
  width: 100%;
  background-color: aliceblue;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Rectangle\ 75.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.header > img {
  display: flex;
  justify-content: center;
  margin-top: 210px;
}
.header__meader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}
.header__meader > p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header__meader > h2 {
  color: #0D302C;
  font-size: 170px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.header__logo {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Raleway", sans-serif;
  margin-right: -505px;
}
.header__nav-menu {
  display: flex;
  gap: 45px;
  list-style-type: none;
}
.header__nav-menu_feat > a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header__nav-menu_feat a:hover {
  -webkit-text-decoration: underline #00B2A0;
          text-decoration: underline #00B2A0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.menu {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__section1 {
  margin-top: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
}
.menu__section1 > h1 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
}
.menu__section1 h1::after {
  content: "/";
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  left: -10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: -30px;
}
.menu__section1-texts {
  width: 80%;
  display: flex;
  margin-top: 100px;
  gap: 120px;
}
.menu__section1-texts_text1 {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}
.menu__section1-texts_text1 > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section1-texts_text2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 55px;
}
.menu__section1-texts_text2 > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}/*# sourceMappingURL=style.css.map */