* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cont {
  max-width: 1450px;
  width: 100%;
  background-color: aliceblue;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Rectangle\ 75.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.6) 31.64%, rgba(51, 51, 51, 0.22) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  background-position: center;
  background-size: cover;
  inset: 0;
  position: absolute;
  opacity: 0.4;
}
.header > img {
  display: flex;
  justify-content: center;
  margin-top: 210px;
  z-index: 2;
}
.header__meader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  z-index: 2;
}
.header__meader > p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header__meader > h2 {
  color: #0D302C;
  font-size: 170px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  z-index: 2;
}
.header__logo {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Raleway", sans-serif;
  margin-right: -505px;
}
.header__nav-menu {
  display: flex;
  gap: 45px;
  list-style-type: none;
}
.header__nav-menu_feat > a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header__nav-menu_feat a:hover {
  -webkit-text-decoration: underline #00B2A0;
          text-decoration: underline #00B2A0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.menu {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__section1 {
  margin-top: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
}
.menu__section1 > h1 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
}
.menu__section1 h1::after {
  content: "/";
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  left: -10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: -30px;
}
.menu__section1-texts {
  width: 80%;
  display: flex;
  margin-top: 100px;
  gap: 120px;
}
.menu__section1-texts_text1 {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}
.menu__section1-texts_text1 > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section1-texts_text2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 55px;
}
.menu__section1-texts_text2 > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section2 {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__section2 > h1 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  margin-top: 200px;
}
.menu__section2 h1::after {
  content: "/";
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  left: 5px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: -30px;
}
.menu__section2-boxes {
  margin-left: 360px;
  margin-right: 360px;
  margin-top: 100px;
  gap: 75px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "box1 box1 box2 box2 box3 box3" "box4 box4 box4 box5 box5 box5";
  margin-bottom: 200px;
}
.menu__section2-boxes_box1 {
  width: 100%;
  grid-area: box1;
}
.menu__section2-boxes_box1 > .inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.menu__section2-boxes_box1 > .inner > h2 {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.menu__section2-boxes_box1 > p {
  margin-top: 19px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section2-boxes_box2 {
  width: 100%;
  grid-area: box2;
}
.menu__section2-boxes_box2 > .inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.menu__section2-boxes_box2 > .inner > h2 {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6px;
}
.menu__section2-boxes_box2 > p {
  margin-top: 19px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section2-boxes_box3 {
  width: 100%;
  grid-area: box3;
}
.menu__section2-boxes_box3 > .inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.menu__section2-boxes_box3 > .inner > h2 {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6px;
}
.menu__section2-boxes_box3 > p {
  margin-top: 19px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: start;
}
.menu__section2-boxes_box4 {
  width: 100%;
  grid-area: box4;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__section2-boxes_box4 > .inner2 > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.menu__section2-boxes_box4 > .inner2 > .wrapper1 {
  display: flex;
  gap: 10px;
}
.menu__section2-boxes_box4 > .inner2 > .wrapper1 > h3 {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.menu__section2-boxes_box5 {
  width: 100%;
  grid-area: box5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.menu__section2-boxes_box5 > h4 {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.menu__section3 {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding-left: 100px;
  padding-bottom: 100px;
}
.menu__section3 > img {
  width: 50%;
  padding: 0;
}
.menu__section3-rightbox {
  width: 60%;
  margin-left: -50px;
}
.menu__section3-rightbox > h1 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
}
.menu__section3-rightbox h1::after {
  content: "/";
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  left: -10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: -30px;
}
.menu__section3-rightbox > h2 {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-top: 100px;
}
.menu__section3-rightbox > h3 {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-top: 32px;
}
.menu__section3-rightbox > h4 {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-top: 30px;
}
.menu__section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 200px;
}
.menu__section4 > h1 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  margin-top: -30px;
}
.menu__section4 h1::after {
  content: "/";
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  left: -10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: -30px;
}
.menu__section4--glist {
  width: 100%;
  margin-top: 212px;
}
.menu__section4--glist > a {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-decoration: none;
  display: inline;
  margin: 10px;
}
.menu__section4--glist > a:hover {
  color: #00B2A0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.menu__section4 > .button {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  padding: 25px 90px;
  border: 1px solid;
  margin-top: 50px;
  text-decoration: none;
  margin-bottom: 200px;
}
.menu__section4--tourists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
  overflow: hidden;
  gap: 40px;
  margin-top: 50px;
}
.menu__section4--tourists > .img1 {
  grid-area: a1;
  width: 100%;
  height: 280px;
}
.menu__section4--tourists > .img2 {
  grid-area: a2;
  width: 290px;
  height: 280px;
}
.menu__section4--tourists > .img3 {
  grid-area: a3;
  height: 280px;
  width: 250px;
}
.menu__section4--tourists > .img4 {
  grid-area: a4;
  width: 250px;
  height: 280px;
}
.menu__section4--tourists .img5 {
  grid-area: a5;
  width: 290px;
  height: 280px;
  position: relative;
}
.menu__section4--tourists .img5::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.6) 31.64%, rgba(51, 51, 51, 0.22) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  background-position: center;
  background-size: cover;
  inset: 0;
  position: absolute;
  opacity: 0.4;
}
.menu__section4--tourists > .img6 {
  grid-area: a6;
  width: 100%;
  height: 280px;
}/*# sourceMappingURL=style.css.map */